* {
    margin: 0;
    padding: 0;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    align-items: center;
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: #fff;
    padding: 20px 0px;
    z-index: 2;
}

#sidebar a {
    text-decoration: none;
    color: #fff;
}

.container {
    margin-left: 250px;
    padding: 20px;
}