* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

h1 {
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* div {
  display: block;
} */

.centered {
  text-align: center;
}

nav {
  position: fixed;
  display: flex;
  background-color: hsl(96, 63%, 37%);
  color: hsl(271, 50%, 31%);
  height: 47px;
  box-shadow: 7px 5px 7px 5px rgba(0, 0, 0, 0.1);
}

nav .logo {
  padding: 75px;
  align-self: left;
  font-family: Arial, Helvetica, sans-serif;
}

nav .navbar a {
  text-decoration: none;
  display: inline-block;
  margin: 5px;
}

nav .navbar a::after {
  content: "";
  display: block;
  padding: bottom 2px;
  border-bottom: 2px;
}

.side-bar {
  list-style: none;
  position: fixed;
  width: 250px;
  color: hsl(271, 50%, 31%);
  height: 100%;
  overflow: auto;
  box-shadow: 7px 5px 7px 5px rgba(0, 0, 0, 0.1);
}

.side-bar li a {
  margin: 8px;
  background-color: hsl(118, 62%, 56%);
  text-align: center;
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  opacity: 0.7;
}

.side-bar li a:hover:not(.active) {
  background-color: #2d733f;
  color: white;
}

.main-menu {
  padding-left: 250px;
}

.wrapper {
  display: inline-block;
  margin-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-top: 0px;
  width: 100%;
}

.row {
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
}

.blok {
  /* width: 25%; */
  justify-content: space-between;
}

.panel {
  float: left;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #2d733f;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
  color: #fff;
  background-color: #428bca;
  border-color: #428bca;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.panel-body {
  display: block;

  padding: 15px;
}

.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.card {
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.card-body {
  padding: 0 20px 20px 20px;
}
